@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FBE83C,
    #FF7E44);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a3512b94;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #E38C36;
    text-align: center;
    text-shadow: 1px 1px 2px #aa6a2ab9;
}

h2{
    color: #E3BC36;
}

p{
    text-align: justify;
}